<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pofo.pofoapiboot3.repository.PortfolioLikeRepository">


    <select id="findByUserId" resultType="Portfolio">
		select
			*
		from
			portfolio
		where
			id in (select portfolio_id from portfolio_like where member_id = ${id})
	</select>

    <select id="findByPortfolioId" resultType="PortfolioLike">
        SELECT
            *
        FROM
            portfolio_like
        WHERE
            portfolio_id = #{portfolioId}
    </select>

    <select id="count" resultType="int">
		select 
			count(portfolio_id) 
		from 
			portfolio_like
		where
			portfolio_id in
		(select id from portfolio where member_id = ${id})
	</select>

    <select id="countByPortfolioId" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            portfolio_like
        WHERE
            portfolio_id = #{portfolioId}
    </select>

    <insert id="insert">
        INSERT INTO
            portfolio_like
        VALUES
            (#{portfolioId}, #{memberId}, DEFAULT)
    </insert>

    <delete id="delete">
        DELETE FROM
            portfolio_like
        WHERE
            portfolio_id = #{portfolioId}
        AND
            member_id = #{memberId}
    </delete>
</mapper>