<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pofo.pofoapiboot3.repository.ReportRepository">
    <select id="selectByPortfolioId" resultType="Report">
        SELECT
            *
        FROM
            report
        WHERE
            portfolio_id = #{portfolioId}
    </select>

    <insert id="insert">
        INSERT INTO
            report
        VALUES
            (DEFAULT, #{memberId}, #{portfolioId}, DEFAULT)
    </insert>

    <delete id="deletePortfolioReport">
        DELETE FROM
            report
        WHERE
            portfolio_id = #{portfolioId}
        AND
            member_id = #{memberId}
    </delete>
</mapper>