html,
body {
    height: 100%;

}

/* .border-blue{
    border: 6px solid rgba(140, 204, 244, 0.7);
    width: 33.9%;
    width: 645.781px;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: 0;
} */
.container {
    background-color: rgba(140, 204, 244, 0.1);
    /* min-height: calc(100vh - 96px); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    text-align: left;
    margin-right: 30%;
    margin-bottom: 3%;
}

.team-c-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    /* width: 34.5%; */
    width: 655.219px;
    border-top: none;
    height: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;

    box-shadow: 0px -6px 0px rgba(140, 204, 244, 0.7);
}

.team-img {
    width: 45px;
    padding-left: 10px;
    /* position: absolute;
    top: 25.5%;
    left: 35%; */
}

.noti {
    width: 30px;
}

strong {
    font-size: 16px;
}

.team-c-form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.team-c-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 34.5%; */
    width: 655.219px;

    height: 100%;
    margin-bottom: 3%;
}

/* img */
.first-img-box {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.first-img-box button {
    margin: 0 auto 5px;
}

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    font-size: 13px;
    font-weight: 300;

    position: relative;
}

.img-box .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.img-box .info span:first-child {
    display: block;
    font-size: 15px;
    color: #000;
    font-weight: 300;

    margin-bottom: 5px;
}

.img-box .info span:last-child {
    color: #999999;
    font-size: 12px;
}

.img-box div:last-child {
    width: 400px;
    height: 250px;
    border: 1px solid #c6c2c2;
    border-radius: 8px;

}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span {
    margin-top: 28%;
}

/* 구성요소 */
h2 {
    font-size: 16px;
    font-weight: 400;
}

.text-box {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-box {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.team-c-input {
    border: none;
    border-bottom: 1px solid #eee;
    width: 50%;
    margin-top: 4.5%;
    /* margin-bottom: 4.5%; */
}

.submit-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit {
    border-radius: 4px;
    border: none;
    background-color: #fff;
    width: 80px;
    height: 35px;
    box-shadow: 2px 2px 2px #eee;
    color: rgb(18, 17, 17);
}

.submit:hover {
    background-color: #5C9ABF;
}

.reset {
    color: rgb(18, 17, 17);
    font-size: 14px;
    /* box-shadow: 2px 2px 2px #eee; */
    width: 80px;
    height: 35px;
    background-color: transparent;
    color: rgb(18, 17, 17);
    border: 0;
}

.button-box button:first-child {
    margin-right: 10px;
}

button {
    background-color: white;
    color: rgb(18, 17, 17);
    border: solid 1px #eee;
}

.button-box button:active,
button.focus {
    background-color: #8CCCF4;
    color: white;
}

.modal-submit-btn,
.submit-box .submit {
    background-color: #8cccf4;
    border: none;
    color: #fff;
    border-radius: 4px;
    width: 100px;
    padding: 1% 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}